In [2]:
import sqlalchemy
!pip install pymysql
import pymysql
from sqlalchemy import create_engine
import pandas as pd

Requirement already satisfied: pymysql in c:\users\ham04\anaconda3\lib\site-packages (1.1.1)

In [3]:
password = 'password'
db_name = 'tester'

In [4]:
conn = pymysql.connect(host='127.0.0.1', port=3306, user='root', password=password, database=db_name)

In [5]:
connection = create_engine("mysql+pymysql://root:" + password + "@localhost:3306/" + db_name)

In [6]:
rooms = pd.read_csv("Project 2 Launch  - Rooms.csv")
reservations = pd.read_csv("Project 2 Launch  - Reservations.csv")
payments = pd.read_csv("Project 2 Launch  - Payments.csv")
guests = pd.read_csv("Project 2 Launch  - Guests.csv")

In [7]:
table_name = 'rooms'
table_name1 = 'reservations'
table_name2 = 'payments'
table_name3 = 'guests'

In [8]:
rooms.columns = rooms.columns.str.strip()
reservations.columns = reservations.columns.str.strip()
payments.columns = payments.columns.str.strip()
guests.columns = guests.columns.str.strip()

In [9]:
rooms.to_sql(name=table_name, con=connection, if_exists='replace', index=False)
reservations.to_sql(name=table_name1, con=connection, if_exists='replace', index=False)
payments.to_sql(name=table_name2, con=connection, if_exists='replace', index=False)
guests.to_sql(name=table_name3, con=connection, if_exists='replace', index=False)

30

In [14]:
query2 = """SELECT payments.Amount, guests.Name, guests.Email FROM payments
JOIN reservations ON payments.Reservation_ID = reservations.Reservation_ID
JOIN guests ON reservations.Guest_ID = guests.Guest_ID
WHERE Amount > 1000
ORDER BY Amount DESC;"""

In [15]:
result_df = pd.read_sql(query2, con=connection)
result_df

   Amount               Name               Email
0    3300         Zoe Watson    j9b2@example.com
1    2400     Isabella Hayes  d7k8h2@example.com
2    1950     Sophia Bennett  q6a5b3@example.com
3    1500       Lily Edwards    h2d4@example.com
4    1350  Charlotte Jenkins  c6b7t3@example.com
5    1350    Grace Henderson  t9x2d4@example.com
6    1200        Noah Carter  k5t8w1@example.com
7    1200      Emma Sullivan  j1l4d8@example.com
8    1200         Lucas Ward  x8z7c1@example.com
9    1050   Nathaniel Hughes    r5t7@example.com